# User identifier
PUID=1000
PGID=1000
TZ=Europe/Paris

# Filesystem access
PATH_SYSTEM_CONFIG=/var/lib/docker/volumes
PATH_MEDIA_STORAGE=/mnt/data

# DNS settings
URL=homelab.fr
SUBDOMAINS=wildcard
VALIDATION=dns # Let's Encrypt validation method (http or dns)
DNSPLUGIN= # DNS plugin to use for dns validation (ovh, cloudflare, etc.)
EMAIL=user@homelab.fr
